<header>
  <h1>Famous People</h1>
</header>
<main>
  {{#each people}}
    <div class="person{{#if is65OrOlder}} highlight{{/if}}">
      <p><a href="/people/{{@key}}">{{name}}</p>
    </div>
  {{/each}}
</main>
